.details-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background: rgba( 255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    color: white;
    box-shadow: 0 8px 30px rgba( 0, 0, 0, 0.3);
}

.details-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.details-description {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.details-skills {
    font-size: 17px;
    font-weight: bold;
    color: #60a5fa;
    margin-bottom: 30px;
}

.section-title {
    text-align: center;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #60a5fa;
}

.owner-card {
    background: rgba( 255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.collaborator-card{
    background: rgba( 255, 255, 255, 0.1);
    padding: 18px;
    border-radius: 15px;
    margin-bottom: 15px;
    transition: 03s;
}

.collaborator-card:hover {
    transform: translateY(-5px);
}

.collab-name {
    font-size: 18px;
    font-weight: bold;
}

.collab-email {
    color: #cbd5e1;
}

.no-collab {
    color: #cbd5e1 ;
}